# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS + Linux
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Virtual environments
env/
venv/
ENV/
